<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1><a href="/" style="color: white; text-decoration: none;">Home</a></h1>
    <section>
        <header>
            {% block header %}{% endblock %}
            {% if session['username'] %}
                <a href="/admin">Admin</a>
            {% endif %}
        </header>
        {% block content %}{% endblock %}
    </section>
</body>
{% block script %}{% endblock %}
</html>